Package: com.yourname.proximitydisabler
Name: ProximityDisabler
Version: 1.0
Architecture: iphoneos-arm
Description: Disable proximity sensor for third-party call apps on TrollStore
Maintainer: Your Name
Author: Grok Assisted
Section: Tweaks
Depends: firmware (>= 16.0)
