Package: com.haoyuliang.proximitydisabler
Name: ProximityDisabler
Version: 1.0.0
Architecture: iphoneos-arm
Description: Disable proximity sensor for all applications.
Maintainer: haoyuliang
Author: haoyuliang
Section: Tweaks
Depends: mobilesubstrate
